*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    padding: 20px;
    width: 900px;
   
  }
  .parent{
    display: grid;
    grid-template-columns: 300px 150px 150px;
    gap: 10px;
    flex-wrap: wrap;
    
    
  }
  .child{
    background-color: rgb(55, 50, 86);
    color: white;
    border: 1px solid black;
    height: 50px;
    text-align: center;
    line-height: 50px;
    
  }
  .row-1{
    
    grid-row: 1 / span 2;
    height: 110px;
    
  }
  .row-6{
    grid-row: 3 / span 2;
    height: 110px;
  }
 
  